body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contact {
    color: #fff;
    padding: 10px;
    justify-items: center;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-weight: 700;
    font-size: 30px;
}

.nav-links {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size:25px;

}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    color: white;
    /* display: inline-block; */
}

.form-and-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

form {
    width: 20%;
    left: 80px;
    color: white;
    height: 105%;
    background-color: #05AD5F;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative; /* Add this line to make positioning relative */
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; /* Add this line to make the input edges round */
}

form input[type="submit"] {
    background-color: #05AD5F; /* Light green color */
    color: #fff;
    cursor: pointer;
    border: none;
    width: 60px;
    border-radius: 10px; /* Increased border-radius for rounded edges */
    padding: 10px 15px; /* Adjusted padding for a slightly larger button */
    position: absolute;
    right: 40px;
    bottom: -10px; /* Adjusted the bottom value to make it slightly down */
}

form input[type="submit"]:hover {
    background-color: #05986E; /* Darker shade on hover for contrast */
}

form input[type="submit"]:hover {
    background-color: #2980b9;
}

img {
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
