@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin-inline: auto;
}
body {
  background-color: #0a050a;
  z-index: 1;
}

.header {
  padding-inline: 3rem;
}
.header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
}

ul {
  list-style-type: none;
  display: flex;
  width: fit-content;
  align-self: center;
  background-color: none;
}

ul li a {
  color: whitesmoke;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.2s ease-out;
  font-weight: 500;
  display: block;
  font-size: 18px;
}

li {
  display: inline-block;
  padding-top: 5px;
}

li a:hover {
  color: #7bfd93;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #feefce;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem;
}
.states {
  width: 270px;
  height: 350px;
  border: 3px solid #05ad5f;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  cursor: pointer;
}

.img-div {
  width: 150px;
  height: 150px;
}
.img-div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.states p {
  font-size: 18px;
  text-align: center;
  color: whitesmoke;
}

.states button {
  background-color: #05ad5f;
  color: white;
  font-size: 16px;
  width: fit-content;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border-radius: 30px;
}
.states button:hover {
  box-shadow: 0px 0px 10px 0px #05ad5f;
}

.states:hover {
  transform: scale(1.1);
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-inline: 5rem;
  margin: 5rem;
}

.item p {
  font-size: 50px;
  font-weight: 700;
  color: #feefce;
}

.landing-img {
  width: 550px;
  height: auto;
}

.circle1 {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: fixed;
  z-index: -1;
  background-color: #05ad5f;
  right: -170px;
  top: -300px;
  filter: blur(17px);
}
.circle2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  z-index: -1;
  background-color: #7bfd93;
  right: -325px;
  top: 115px;
  filter: blur(17px);
}
