 * {
    margin: 0;
    padding: 0;
    box-sizing: boder-box
    }
    
    html, body {
    height: 100%;
    width: 100%
    };
    .popup-image{
      width: 50px;
      height: 50px;
      background-color: aqua;
    }
  