<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackFest</title>
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
    <div class="About-Us">

        <p> About Us Page</p> 
        <a href="/">Redirecting to Home Page></a> <br>
        <a href="/map">Redirecting to Map></a><br>
        <a href="/contact">Redirecting to contact page></a><br>
        
        
    </div>
</body>
</html>