<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../static/about.css" />
  </head>
  <body>
    <div class="header">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <img src="/static/assets/hackfest hackathon/images/logo.png" />
        <ul>
          <li><a  href="/">Home</a></li>
          <li><a style="color: #7bfd93" href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="middle">
        <div class="item">
          <p>Know Who Are We? </p>
        </div>
        <div class="container">
            <div class="about">
                <p>Welcome to PinPoint – your portal to explore the world! Simply select a place and embark on your virtual journey with our interactive map. Adventure awaits with just a click. Let's explore together!</p>
            </div>
            <div class="img-div">
                <img
                  class="landing-img"
                  src="/static/assets/hackfest hackathon/images/about-png.png"
                />
              </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
