<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackFest</title>
    <link rel="stylesheet" href="../static/contact.css">
</head>
<body>
    <div class="contact">
        <p>Contact Us Page</p>
        <a href="/">Redirecting to Home Page></a> <br>
        <a href="/map">Redirecting to Map></a><br>
        <a href="/about">Redirecting to About Us></a><br>
    </div>
    
    
    
</body>
</html>