<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackFest</title>
    <link rel="stylesheet" href="../static/contact.css">
</head>
<body>
        
        <div class="nav-links">
            <a href="/">Home</a> <br>
            <a href="/map">About</a><br>
            <a href="/about">Contact</a><br>
        </div>

    <div class="contact">
        <p>Get in Touch</p>
    </div>
    <div class="flex-container">
        <div class="form-and-img">
            <form>
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="4"></textarea>
                <input type="submit" value="Submit">
            </form>
            <img src="../static/assets/contactpage.png" alt="Contact Page Image">
        </div>
    </div>
    
</body>
</html>
