<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <img src="/static/assets/hackfest hackathon/images/logo.png" />
      <ul>
        <li><a style="color: #7bfd93" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="middle">
      <div class="item">
        <p>Discover<br />Your<br />Adventure</p>
      </div>
      <div class="item">
        <img
          class="landing-img"
          src="/static/assets/hackfest hackathon/images/for-index.png"
        />
      </div>
    </div>

    <div class="states-section">
      <h2>Choose Your Destination</h2>

      <div class="container">
        <div class="states">
          <div class="img-div">
            <img
              src="/static/assets/hackfest hackathon/west bengal/for-index.jpg"
            />
          </div>

          <p>West Bengal</p>
          <button onclick="window.location.href='/west-bengal'">Check</button>
        </div>
        <div class="states">
          <div class="img-div">
            <img src="/static/assets/hackfest hackathon/kerala/for-index.jpg" />
          </div>

          <p>Kerala</p>
          <button onclick="window.location.href='/Kerala'">Check</button>
        </div>
        <div class="states">
          <div class="img-div">
            <img
              src="/static/assets/hackfest hackathon/jammu n kashmir/for-index.jpg"
            />
          </div>
          <p>Jammu & Kashmir</p>
          <button onclick="window.location.href='/Jharkhand'">Check</button>
        </div>
      </div>
    </div>
  </body>
</html>
