<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WestBengal</title>
    <link rel="stylesheet" href="/static/westbengal.css" />
    <script src="../static/coochbihar.js"></script>
    <script src="../static/map.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <img src="/static/assets/hackfest hackathon/images/logo.png" />
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="landing-section">
      <div class="title">
        <h1>
          Welcome <br />
          to <br />
          West Bengal
        </h1>
      </div>
      <div class="landing-img">
        <img
          src="/static/assets/hackfest hackathon/west bengal/west-bengal-bg.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="places-section">
      <div class="horizontal">
        <div class="place">
          <div class="img-div">
            <img
              src="/static/assets/hackfest hackathon/west bengal/coochbihar.jpg"
            />
          </div>
          <p>Coochbihar</p>
          <a href="/map">
            <button id="coochbihar">Spot It</button>
          </a>
          
        </div>

        <div class="place">
          <div class="img-div">
            <img
              src="/static/assets/hackfest hackathon/west bengal/murshidabad.jpg"
            />
          </div>
          <p>Murshidabad</p>
          <a href="/map">
            <button>Spot It</button>
          </a>
        </div>

        <div class="place">
          <div class="img-div">
            <img
              src="/static/assets/hackfest hackathon/west bengal/birbhum.jpg"
            />
          </div>
          <p>Birbhum</p>
          <a href="/map">
            <button>Spot It</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
