<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WestBengal</title>
    <link rel="stylesheet" href="/static/westbengal.css">
</head>
<body>
    <div class="header">
        <img src="/static/assets/hackfest hackathon/images/logo.png">
        <ul>
            <li><a href="/templates/Home_Page.html">Home</a></li>  
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
        </ul>
    </div>

    <div class="vertical">
        <div class="item">
            <h1>Welcome to WestBengal</h1>
        </div>
        <div class="item">
            <div class="horizontal">
                <div class="place">
                    <img src="images/wb.jpg">
                    <p>Coochbihar</p>
                    <button>SPOT IT</button>
                </div>

                <div class="place">
                    <img src="images/wb.jpg">
                    <p>Murshidabad</p>
                    <button>SPOT IT</button>
                </div>

                <div class="place">
                    <img src="images/wb.jpg">
                    <p>Birbhum</p>
                    <button>SPOT IT</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>